#ram{
    color:red;
    text-shadow: 2px 2px 5px yellow,0px 0px 3px rgb(64, 0, 128);
}
#raj{
    height:50px;
    width:300px;
    padding:15px;
    border:1px solid black;
    background-color: blue;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgb(239, 11, 11) inset ;
}
#sai{
    height:50px;
    width:300px;
    padding:15px;
    border:1px solid black;
    background-color: blue;
    text-align: center;
    box-shadow: 10px 8px  7px rgb(239, 11, 11) ,10px 8px 9px green,9px 7px 10px rgb(255, 111, 0),
    10px 8px  7px #f90899 ;
}

#rama{
    border:1px solid black;
    height:50px;
    width:300px;
    padding:20px;
    text-align: center;
    box-shadow: 10px 10px 2px red, 15px 15px 2px green,20px 20px 3px yellow, 30px 30px 3px black;
    color:#f90899;


}
.green{
    border:1px solid green;
    background-color: aqua;
    height:100px;
    width:400px;
    display:flex;

}
.green>div{
    padding:25px;
    border:1px solid black;
    background-color: rgb(27, 20, 230);
    margin:10px;
    
}
p.test1{
    width:200px;
    white-space: nowrap;
    border:1px solid red;
    overflow:hidden;
    text-overflow:clip;
}
p.test1:hover{
    overflow:visible;
}
p.test2{
    white-space:nowrap;
    width:200px;
    border:1px solid red;
    overflow:hidden;
    text-overflow:ellipsis;

}
p.yellow{
    white-space: nowrap;
    width:200px;
    border:1px solid black;
    overflow: hidden;
    text-overflow: ellipsis;
    color:red;
}
p.yellow:hover{
    overflow: visible;
    color:green;
    background-color: black;
}
p.black{
    border: 1px solid green;
    width:11em;
    color:blue;
    word-break: break-all;}
p.rrr{
        border: 1px solid green;
        width:11em;
        color:blue;
        word-break: keep-all;
}
h1{
    color:red;
    text-shadow: 2px 2px;
}
p.hai>span{
    writing-mode:vertical-rl;
    color:rgb(223, 4, 22);
}
p.bye>span{
    writing-mode:horizontal-tb;
    color:rgb(223, 4, 22);
}
